
html{
  background-color: #111111;
     }

header{
  display: flex;
  justify-content: space-between;
  height: 100px;
      }
.fix{
	z-index: 2;
	position:fixed;
	width: 100%;
	background-color: #111111;
}
#titre{
  font-size: 2.5em;
  text-align: left;
  margin: 0;
  padding: 25px 20px;    
  color: #FC5D5D;
  font-family: 'Poiret One', Arial, cursive;
}
#titre a
{
color: #FC5D5D;
text-decoration: none;
}
#logo{
    display: flex-end;
	height: 80%;
	width: auto;
}
.corps{
	z-index: 1;
	  position: relative;
	  top: 100px;
	  display: flex;
	  align-items: center;
}
.blabla{
  min-height: 30em;
  text-align: justify;
  line-height: 1.5;
  padding: 100px 200px 100px 200px;
}

footer{
    position: relative;
    top: 16.5em;
    width: 100%;
    height: 1em;
    text-align: center;
	line-height: 1;

}
body{
	color: #FEFEFE;
	font-family: 'Raleway', sans-serif;
	font-weight: 50;
	font-style: light;
     }
#code{
	font-family: courier, sans-serif;
}

#bando{
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  width: 100%;
}

#menu{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: fixed;
  top: 5.1em;
  left: 0em;
  width:150px;
  margin:20px auto 0 auto;
}
.menu, .sousmenu{
  text-align:center;
}
.menu{
	left: 0;
	height:18px;
	width:150px;
	padding:2px 0;
	background:#404040;
	color:#fff;
}
.sousmenu{
	height:18px;
	width:150px;
	padding:1px 0;
	background:#808080;
	color:#fff;
}

.menu a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	background:#404040;
}
.sousmenu a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	background:#808080;
}
.menu a:hover, .sousmenu a:hover, .menu a:active, .sousmenu a:active, .menu a:focus, .sousmenu a:focus{
	background:#ca0008;
}
 
 a {
color: #4169E1;
}
table{
	width: 100%;
}
td{
	text-align: left;
	min-width: 20em;
}
